@main {
    
    <body>

    	<style type="text/css">
	      body {
	        padding-top: 30px;
	        padding-bottom: 40px;
	      }
	    </style>

    	<!-- TOP NAVBAR -->
	    <div class="navbar navbar-inverse navbar-fixed-top">
	      <div class="navbar-inner">
	        <div class="container">
	          <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
	            <span class="icon-bar"></span>
	            <span class="icon-bar"></span>
	            <span class="icon-bar"></span>
	          </a>
	          <a class="brand" href="@routes.Application.index">James R. Thompson</a>
	          <div class="nav-collapse collapse">
	            <ul class="nav">
	              <li><a href="@routes.Application.index"><i class="icon-home"></i> Home</a></li>
	              <li><a href="@routes.Application.about"><i class="icon-info-sign"></i> About</a></li>
	              <li><a href="@routes.Application.cv"><i class="icon-briefcase"></i> CV</a></li>
	              <li class="active"><a href="#contact"><i class="icon-envelope"></i> Contact</a></li>
	              <li class="dropdown">
	                <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="icon-plus"></i> Interests<b class="caret"></b></a>
	                <ul class="dropdown-menu">
					  <li><a href="@routes.Application.science"><i class="icon-beaker"></i> Science</a></li>
	                  <li><a href="@routes.Application.computing"><i class="icon-cogs"></i> Computing</a></li>
	                  <li><a href="@routes.Application.hobbies"><i class="icon-music"></i> Hobbies</a></li>
	                </ul>
	              </li>
	            </ul>
	          </div><!--/.nav-collapse -->
	        </div>
	      </div>
	    </div>

<!-- Subhead
================================================== -->
		<header class="jumbotron subheadthree" id="overview">
		  <div class="container">
		    <h1><i class="icon-envelope"></i> Contact</h1>
		  </div>
		</header>

		<div class="container">
		  <div class="row">
		  	<br>
			<br>
			<br>
		    <div class="span2 offset2">
		      <address>
					<strong>Office Address<br></strong>
					University of Southern California<br>
					HEDCO Room 105<br>
					925 Bloom Walk<br>
					Los Angeles, CA 90089 USA<br>
				</address>
				<br>
				<address>
					<strong>Lab Address<br></strong>
					University of Southern California<br>
					RTH Room 522<br>
					3710 McClintock Avenue<br>
					Los Angeles, CA 90089 USA<br>
				</address>
				<br>
				<br>
				<a href="mailto:jamesrthompson&#64;icloud.com" class="btn btn-success btn-small"><i class="icon-envelope"></i> Email</a>
				<a href="http://twitter.com/james_rth/" class="btn btn-primary btn-small"><i class="icon-twitter"></i> Twitter</a>
		    </div>
		    <div class="span4">
					<iframe width="600" height="500" frameborder="0" scrolling="yes" marginheight="0" marginwidth="0" src="http://maps.google.com/maps?f=q&amp;source=s_q&amp;hl=en&amp;geocode=&amp;q=Hedco+Chemical+Engineering,+HED,+Los+Angeles,+CA&amp;aq=1&amp;oq=HEDCO+&amp;sll=37.269174,-119.306607&amp;sspn=9.000704,19.335937&amp;ie=UTF8&amp;hq=&amp;hnear=Hedco+Chemical+Engineering,+HED,+Los+Angeles,+California+90089&amp;t=m&amp;ll=34.020315,-118.288293&amp;spn=0.006225,0.00912&amp;z=16&amp;output=embed"></iframe>
				</div>
		    </div>
		  <footer>
	        <p><small>&copy; James R. Thompson - 2012</small></p>
	      </footer>
		  </div>






    </body>
    
    
}